body{

    user-select:none;

    -webkit-user-select:none;

}

h1{

    font-size:var(--font-title);

}

p{

    line-height:1.5;

}

button{

    font-family:inherit;

}

.hidden{

    display:none;

}